{% extends "homepage.html" %}

{% block body %}

    <span class="centerpiece">
        <div class="buttons">
            <form id="makerSelectForm" action="/maker" method="post">
                <div id="setup">
                    <input type="text" id="customWord" placeholder="Word" name="customWord" class="form__field">
                    <input type="number" id="guessCount" name="guessCount" placeholder="Number of guesses" min="1" max="10">
                    <select id = "realWord" name="realWord" required>
                        <option disabled selected value="">Real Wordle Word?</option>
                        <option value="yes">Yes</option>
                        <option value="no">No</option>
                    </select>
                    <button type="submit" class="button">Start Game</button>
                </div>
            </form>
        </div>
    </span>

    <script src="/static/makerselect.js"></script>
{% endblock %}
