<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">

        <!-- https://favicon.io/emoji-favicons/money-bag/ -->
        <link href="/static/favicon.ico" rel="icon">

        <link href="/static/styles.css" rel="stylesheet">

        <title>Wurdle{% block title %}{% endblock %}</title>

    </head>

    <body>
        <div id="wordle"></div>
        <div id="message" class="message"></div>
        <button class="button play-again-top" id="playAgainTop" type="button">
            Play Again
        </button>
        <div id="popup" class="popup">
            <div class="popup__content">
                <p id="popupMessage"></p>
                <div class="popup__actions">
                    <button class="button" id="popupPlayAgain" type="button">Play Again</button>
                    <button class="button" id="popupClose" type="button">Close</button>
                </div>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="/static/maker.js"></script>
    </body>

</html>
